<header>
    <img src="" alt="logo" class="logo" />
    <nav>
        <ul class="nav_links">
            <li><a href="profile.html" class="nav_choice">My Profile</a></li>
            <li><a href="dashboard.html" class="nav_choice">Dashboard</a></li>
            <li><a href="doc.html" class="nav_choice">Document</a></li>
            <li><a href="sosmed.html" class="nav_choice">Sosmed</a></li>
            <li><a href="about.html" class="nav_choice">About Us</a></li>
        </ul>
        <ul class="nav_sidebar">
            <li onclick="hideSidebar()"><i class="fa-solid fa-xmark"></i></li>
            <li><a href="profile.html" class="nav_choice">My Profile</a></li>
            <li><a href="dashboard.html" class="nav_choice">Dashboard</a></li>
            <li><a href="doc.html" class="nav_choice">Document</a></li>
            <li><a href="sosmed.html" class="nav_choice">Sosmed</a></li>
            <li><a href="about.html" class="nav_choice">About Us</a></li>
            <a href="index.html" class="cta"><button class="lgot">Logout</button></a>
        </ul>
    </nav>
    <a href="index.html" class="cta"><button class="lgt">Logout</button></a>
    <li class="ilang">
        <i onclick="showSidebar()" class="fa-solid fa-bars"></i>
    </li>
</header>